alembic==1.14.1
bidict==0.23.1
blinker==1.8.2
click==8.1.8
dotenv==0.9.9
Flask==3.0.3
Flask-Migrate==4.1.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
h11==0.16.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
install==1.3.5
itsdangerous==2.2.0
Jinja2==3.1.6
loguru==0.7.3
Mako==1.3.10
MarkupSafe==2.1.5
opencv-python==4.9.0.80
pillow==10.4.0
psutil==5.9.8
python-dotenv==1.0.1
python-engineio==4.12.2
python-socketio==5.13.0
requests==2.32.3
simple-websocket==1.1.0
SQLAlchemy==2.0.41
typing_extensions==4.13.2
websocket-client==1.8.0
Werkzeug==3.0.6
wsproto==1.2.0
zipp==3.20.2
